<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{rencontres.title}"></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
	<h1 th:text="#{rencontres.title}"></h1>
	<table class="table">
		<tbody>
			<tr th:each ="rencontre : ${rencontres}">
				<td><img th:src="${rencontre.teamDom.flag}" width="30" th:alt="${rencontre.teamDom.name}" th:title="${rencontre.teamDom.name}"/></td>
			 	<td th:text="${rencontre.teamDom.name}"></td>
			 	<td th:text="${rencontre.scoredom}"></td>
			 	<td> - </td>
			 	<td th:text="${rencontre.scoreext}"></td>
			 	<td th:text="${rencontre.teamExt.name}"></td>
			 	<td><img th:src="${rencontre.teamExt.flag}" width="30" th:alt="${rencontre.teamExt.name}" th:title="${rencontre.teamExt.name}"/></td>
			 	<td><a class="btn btn-primary" th:text="#{rencontres.pronosticer}" th:href="'/pronostic?rid='+${rencontre.id}"></a></td>
			</tr>
		</tbody>		
	</table>
</div>

<table class="table">
	<tr th:each ="pronostic : ${pronostics}">
		<td th:text="${pronostic.id}"></td>
	 	<td th:text="${pronostic.scoreDom}"></td>
	 	<td> - </td>
	 	<td th:text="${pronostic.scoreExt}"></td>
	 </tr>
</table>
<!-- 
<table border="1" style="with=300px">
		<tr th:each ="rencontre : ${rencontres}">
			<td><img th:src="${rencontre.teamDom.flag}" width="30" th:alt="${rencontre.teamDom.name}" th:title="${rencontre.teamDom.name}"/></td>
		 	<td th:text="${rencontre.teamDom.name}"></td>
		 	<td th:text="${rencontre.scoredom}"></td>
		 	<td> - </td>
		 	<td th:text="${rencontre.scoreext}"></td>
		 	<td th:text="${rencontre.teamExt.name}"></td>
		 	<td><img th:src="${rencontre.teamExt.flag}" width="30" th:alt="${rencontre.teamExt.name}" th:title="${rencontre.teamExt.name}"/></td>
		 	<td><a th:text="#{rencontres.pronosticer}" th:href="'/pronostic?rid='+${rencontre.id}"></a></td>
		</tr>
	</table>
	<br/>
<table border="1" style="with=100px">
	<tr th:each ="pronostic : ${pronostics}">
		<td th:text="${pronostic.id}"></td>
	 	<td th:text="${pronostic.scoreDom}"></td>
	 	<td> - </td>
	 	<td th:text="${pronostic.scoreExt}"></td>
	 </tr>
</table>-->

</body>
</html>